<div class="container-fluid">
  <div class="row">
    <div class="logo">
      <h1>sdrX</h1>
      <span>pesquisa e desenvolvimento de software</span>
    </div>
  </div>

  <div class="row">
    <div class="what_we_do col-xs-8 col-centered">
      <h2 class="large">Criamos sites e sistemas de software que impulsionam negócios e pessoas.</h2>
      <h2 class="small">Sites e sistemas de software para seu negócio.</h2>
    </div>
  </div>

  <div class="row">
    <div class="cta">
      <a class="btn btn-default btn-lg purple_pulse" href="#slide1/slide2">
        <span class="large">
        O que a sdrX tem a oferecer ao <strong><i>meu</i></strong> negócio?
      </span>
      <span class="small">
        Por exemplo?
      </span>
      </a>
    </div>
  </div>

  <div class="row">
    <span class="click_to_go animated bounce">(( ou use  as teclas <i class="glyphicon glyphicon-arrow-up"></i> e <i class="glyphicon glyphicon-arrow-down"></i> do seu teclado para navegar ))</span>
  </div>
</div>
