<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="fullpage">
        {{ content }}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/jquery.fullpage.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/wow.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>

    <script>
$(document).ready(function() {
    new WOW().init();
    $("#how_to_help").hide();

    var isPhoneDevice = "ontouchstart" in document.documentElement; 
    
    $("#fullpage").fullpage({
scrollBar: true
});

    if (!isPhoneDevice) {
      $.fn.fullpage.setAutoScrolling(false);
      $.fn.fullpage.setFitToSection(true);
    }
});
    </script>
  </body>

</html>
